.wrapper {
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.wrapper p {
    width: 70%;
}

.wrapper button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: 15px;
}

.searchBox {
    width: 100%;
}