.userBox {
    border: 0.5px solid black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center;
}

.userBox p {
    margin-left: 15px;
    font-family: 'Pretendard-Bold';
}

.deleteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    right: 0px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #997B66;
    cursor: pointer;
}

.groupDeleteBtn {
    width: 110px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px gray;
}

.groupDeleteIcon {
    margin-right: 5px;
}

.groupUserBox {
    margin-top: 10px;
}

.groupInfoButtonBox {
    display: flex;
    justify-content: space-evenly;
}