.topButtonTap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectedTap {
    border: 2px solid black;
}

.mainContainer {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C0AB9A;
    right: 0px;
}

.chatContainer {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.messageInput {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    height: 30px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}