.body {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: beige;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
}
.infoBox {
    width:35%;
    height: 50%;
    display: inline-block;
    margin-top: 130px;
}
.card {
    width: 78%;
    height: 78%;
    margin-left: 20%;
    background-color: burlywood;
    border-radius: 15px;
}
.img {
    width: 100%;
    height: 70%;
}
.img img {
    width: 80%;
    height: 100%;
    border-radius: 15px;
}
.content {
    width: 100%;
    height: 20%;
    text-align: center;
    line-height: 200%;
}
.screenBox {
    width: 65%;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: inline-block;
}

.buttonBox {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.buttonBox button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
    background-color: burlywood;
    border-radius: 15px;
    font-weight: bold;
    font-size: larger;
    border: none;
}

.title {
    font-size: larger;
    font-weight: bold;
}

