.body {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    background-color: beige;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    height: 100%;
}
.infoBox {
    width: 30%;
    height: 90%;
    background-color: rgba(71, 203, 215, 0.468);
    display: inline-block;
}
.card {
    width: 70%;
    height: 78%;
    margin: 13% 20%;
    background-color: aliceblue;
}
.img {
    width: 70%;
    height: 70%;
    background-color: gray;
}
.content {
    width: 70%;
    height: 20%;
    background-color: gray;
    margin-top: 10px;
}
.screenBox {
    width: 69%;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: inline-block;
}

.buttonBox {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.buttonBox button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 80%;
}