.backGround {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #997B66;
    flex-direction: column;
}

.titleBox {
    border: 2px solid black;
    width: 80%;
    height: 70%;
}