.body {
    width: 100%;
    height: 100vh;
    background-color: beige;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topIndicator {
    width: 80%;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    width: 80%;
    flex-direction: row;
}

.songList {
    width: 60%;
    height: 80vh;
    margin-right: 10px;
    background-color: wheat;
}

.rightBox {
    width: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

.rightTierBox {
    display: flex;
    flex-direction: column;
    border: 3px solid #ccc;
    border-radius: 3px;
    background: #F9FFF8;
    padding-top: 0%;
    width: 90%;
    height: 275px;
    text-align: center;
    margin: 0px 0px 15px 0px;
    align-items: center;
}

.perfectplayList {
    width: 90%;
    height: 40%;
    border: solid 3px silver;
    border-radius: 7;
    position: relative;
}

.topMyInfoBox {
    position: absolute;
    top: 0px;
    width: 90%;
    height: 40%;
}

.bottomClearList {
    width: 90%;
    height: 55%;
    margin-top: 15px;
}