.body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: beige;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid black;
    width: 90%;
    height: 90%;
}

.screenBox {
    border: 1px solid black;
    width: 100%;
    height: 90%;
}

.buttonBox {
    border: 1px solid black;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.buttonBox button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
}