.background {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: beige;
    justify-content: center;
    align-items: center;
}

.container {
    border: 3px solid black;
    width: 90%;
    height: 90%;
}

.topBox {
    border: 1px solid black;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonBox {
    border: 1px solid black;
    width: 100%;
    height: 10%;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.buttonBox button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 15%;
    height: 80%;
    font-size: 1rem;
    background-color: #A58D8D;
    cursor: pointer;
}

.screenBox {
    border: 1px solid black;
    width: 70%;
    height: 100%;
    display: flex;
}

.recordList {
    border: 1px solid black;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: scroll;
}

.videoContainer {
    border: 2px solid black;
}

.recordVideo {
    width: 100%;
    height: 100%;
}

.modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 24;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modalContainer input {
    margin-top: 20px;
    width: 400px;
    height: 42px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 1.5rem;
}

.modalButtonBox {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modalContainer>header {
    font-size: 24px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.modalButtonBox button {
    width: 100px;
    height: 30px;
    margin: 0 15px;
    cursor: pointer;
    border-radius: 15px;

}